h1 {
    color: #FEFEFE;
    font-size: 6rem;
    font-family: "Open Sans", Helvetica, sans-serif;
}

.dim {
    color: rgb(92, 92, 92);
}

body {
    background-color: #202123;
    color: #D1D5DA;
}

.profilePhoto {
    width: 100px;
    border: 2px double white;
    border-radius: 50%;
}
.squareProfile{
    border-radius: 15px;
    border: 2px dotted white;
}

.circular-image {
    width: 150px;
    /* Adjust the width and height to your desired size */
    height: 150px;
    border-radius: 50%;
    /* This makes the element circular */
    overflow: hidden;
    /* This ensures the image stays within the circular shape */
}

.circular-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* This maintains the aspect ratio and covers the circular area */
}